<div class="main-container">
    <div class="header-text">
        <div class="h-1">SURPRISE LUXURY SPA </div>
    </div>
    <!-- Slide Show-->
    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/banner.jpg" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Text Container -->
    <section class="bg-LIGHT text-DARK p-md-3 pt-lg-4 text-center" id="category">
        <div class="container">
            <div class="justify-content-between">
                <div>
                    <h3>TREATMENTS OFFERED</h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row row-cols-sm-3 g-3 mx-2 mb-3">
            <div class="col" *ngFor="let cat of catArray">
                <div class="card">
                    <img [src]="cat.src" (click)="getService(cat.CatId)">
                    <div class="card-footer">
                        <h5 class="card-title ">{{cat.CategoryName}} </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-LIGHT text-DARK p-md-3 pt-lg-4 text-center" id="category">
        <div class="container">
            <div class="justify-content-between">
                <div>
                    <h3 class="h-3">SEE WHAT OUR CUSTOMERS ARE SAYING</h3>
                </div>
            </div>
        </div>
    </section>
    <SECTION>
        <div class="row row-cols-sm-3 g-3 mx-2 mb-3">
            <div class="col text-center" *ngFor="let rev of  reviewArray">
                <h6> {{rev.date}} {{rev.reviewer}}</h6>
                <h6>"{{rev.comment}}"</h6>
            </div>
            
        </div>
    </SECTION>

</div>