.carouselimgsz{
    height:600px;
}   
/* img{
    width:512px;
    height:308px;
} */
.card{
    text-align: center;       
  }
  .h-1{
    font-size:65px;
    font-family: 'Times New Roman', Times, serif;
}
.header-text{
    text-align: center;
    background-color: beige;
}
.h-3{
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}