<div class="main-container">
    <div class="header-text">
        <div class="h-1">SURPRISE LUXURY SPA </div>
        <div class="h-2">Luxury Spa Treatments</div>
    </div>
    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/searchpagebanner.jpg" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <section class="bg-LIGHT text-DARK p-md-3 pt-lg-4" id="category">
        <div class="srv-text">
            <div>
                <h3>LUXURY SERVICES OFFERED </h3>
            </div>
        </div>
    </section>
    <section>
        <div class="row row-cols-sm-4 g-3 mx-2 mb-3">
            <div class="col" *ngFor="let cat of srvArray">
                <div class="card">
                    <img [src]="cat.src">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <a href="#" title="Add to Cart">
                                    <i style="font-size:1.5em;color:black" class="bi bi-cart"></i>
                                </a>
                                <a href="#" title="Make a Reservation">
                                    <i style="font-size:1.5em;color:black" class="bi bi-calendar-day"></i>
                                </a>
                            </div>
                            <div class="col card-price">
                                ${{cat.Price}} / {{cat.Minutes}} minutes
                            </div>
                        </div>
                        <div class="row">
                            <div class="col card-name">
                                {{cat.ServiceName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col card-desc">
                                {{cat.Description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>