.carouselimgsz{
    height:500px;
}   
.header-text{
    text-align: center;
    background-color: beige;
}
.h-1{
    font-size:65px;
    font-family: 'Times New Roman', Times, serif;
}
.h-2{
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: left;
}
.card-price{
    text-align: right;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.card-name{
    font-size: 20px;
    font-weight:800;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}
.card-desc{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
   height:30px;
   /* width:10px; */
   background-color: beige;
   
}
.btn-txt{
    text-align:left;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
 .card-footer{
    background-color:beige;
} 
