<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
        aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Search
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let cat of catArray"><a (click)="getService(cat.CatId)" class="dropdown-item">
                  {{cat.CategoryName}}</a></li>
            </ul>
          </li>
        </ul>
        <div class="header-res-text">
          Call 623-123-4567 today to make your reservation
        </div> 
        <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">
          <i style="font-size:2em;color:white" class="bi bi-cart iconsize"></i>
        </a>
      </div>
      
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="p-4 bg-dark text-white footersize d-flex justify-content-center">
  <div class="row">
    <div class="col-md-4">
      <article class="footer_infocol">
        <h5 class="contact-heading">CONTACT US</h5>
        <Div class="footer-text">
          <span> Surprise Luxury Spa <br> 12345 W. SomeWhere Drive <br>Surprise, AZ 85374<br>
            1-800-111-1111</span>
        </Div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="footer_infocol">
        <h5 class="contact-heading">COMPANY</h5>
        <Div class="footer-text">
          <span>
            <a href="#" class="linkhover">
              About Us</a>
            <br>
            <a href="#" class="linkhover">
              Contact</a>
          </span>
        </Div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="footer_infocol">
        <h5 class="contact-heading">CONNECT WITH US</h5>
        <Div class="footer-text">
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-facebook"></i>
          </a>
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-instagram"></i>
          </a>
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-twitter"></i>
          </a>
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-youtube"></i>
          </a>
        </Div>
      </article>
    </div>
    <div class="container">
      <p class="copyright p-4">Copyright &copy; Surprise Luxury Spa</p>
    </div>
  </div>
</footer>

<!-- <app-home-page></app-home-page> -->